
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>

    <script src="https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.1.5/dist/mindar-image.prod.js"></script>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.1.5/dist/mindar-image-aframe.prod.js"></script>
  </head>
  <body>

    <div id="app">
      <a-scene mindar-image="imageTargetSrc: ./assets/targets.mind; " color-space="sRGB" renderer="colorManagement: true, physicallyCorrectLights" vr-mode-ui="enabled: false" device-orientation-permission-ui="enabled: false">
        
        <a-assets>
          <asset-item
            v-for="item in assets"
            v-bind:item="item"
            v-bind:key="item.id"
          ></asset-item>
        </a-assets>
          
        <a-camera position="0 0 0" look-controls="enabled: false"></a-camera>

        <entity-item
          v-for="(item, index) in assets"
          v-bind:item="item"
          v-bind:index="index"
          v-bind:key="item.id"
        ></entity-item>
        
      </a-scene>

    </div>
    
    <script>


      Vue.component('asset-item', {
          props: ['item'],
          template: "<a-asset-item :id=\"item.id\" :src=\"'./assets/' + item.id + '/scene.gltf'\"></a-asset-item>"
      })

      Vue.component('model-item', {
          props: ['item'],
          template: 
          "<a-gltf-model :id=\"item.id + '-model'\" rotation=\"0 0 0\" position=\"0 0 0.1\" scale=\"0.005 0.005 0.005\" :src=\"'#' + item.id\">"
      })

      Vue.component('entity-item', {
          props: ['item', 'index'],
          template: 
          "<a-entity :id=\"item.id + '-target'\" :mindar-image-target=\"'targetIndex: ' + index\"> <model-item v-bind:item=\"item\"></model-item> </a-entity>"
      })


      var app = new Vue({
          el: '#app',
          data: {
              assets: [
                  { id: 'robot' },
                  { id: 'arrow' }
              ]
          }
      })

      var that = this;

      const sceneEl = document.querySelector('a-scene');
      const arSystem = sceneEl.systems["mindar-image-system"];
      const robotTarget = document.querySelector('#robot-target');
      const arrowTarget = document.querySelector('#arrow-target');
      const arrowModel = document.querySelector('#arrow-model');

      document.addEventListener("DOMContentLoaded", function() {
              
              // arReady event triggered when ready
              sceneEl.addEventListener("arReady", (event) => {
                console.log("MindAR is ready")
              });
              // arError event triggered when something went wrong. Mostly browser compatbility issue
              sceneEl.addEventListener("arError", (event) => {
                console.log("MindAR failed to start")
              });

              let assets = that.app._data.assets;
              for( let i = 0; i < assets.length; i++){

                let asset = assets[i];
                let target = document.querySelector('#' + asset.id + '-target');
                                
                target.addEventListener("targetFound", event => {
                  // debugger;
                  console.log("target found=" + asset.id);

                  // set
                  let model = document.querySelector('#' + asset.id + '-model');
                  model.object3D.rotation.set(
                    THREE.Math.degToRad(0),
                    THREE.Math.degToRad(0),
                    THREE.Math.degToRad(270)
                  );
                  
                });
                target.addEventListener("targetargetLosttFound", event => {
                  // debugger;
                  console.log("target lost=" + asset.id);
                });

              }
    
              
          });
    </script>

  </body>
</html>